<p>
  {{uploader}}
</p>
<form name="crmImport">
  <div class="crm-block crm-form-block">
    <div crm-ui-wizard>
      <div crm-ui-wizard-step crm-title="ts('Upload Data')" ng-form="dsForm">
        <div class="crm-group">
          <div class="crm-block" crm-ui-id-scope>
            <div crm-ui-field="{name: 'dsForm.entity_name', title: ts('Entity to Import')}">
              <select
                crm-ui-id="dsForm.entity_name"
                name="entity_name"
                id="entity_name"
                ng-model="files.entityName"
                ng-change="changeEntity();"
                crm-ui-select="{dropdownAutoWidth : true, allowClear: true, placeholder: ts('Entity Name')}"
                required
                >
                <option value=""></option>
                <option ng-repeat="entityName in allEntities.values" ng-value="entityName">{{entityName}}</option>
              </select>
            </div>
            <div crm-ui-field="{name: 'dsForm.import_file', title: ts('Import Data File')}">
              <input type="file" nv-file-select id="import_file" name="import_file" uploader="uploader" accept=".csv"  required>
              <ul ng-repeat="item in uploader.queue">
                <li>
                  Name: <span ng-bind="item.file.name"></span><br/>
                  <a class="button" ng-click="item.upload();">Upload</a>
                </li>
              </ul>
            </div>
            <p style="text-align:center;">
              <b>OR</b>
            </p>

            <div crm-ui-field="{title: ts('Upload from Google Docs')}">
              <a class="button" ng-show="!isUserLoggedIn;" ng-click="getAuthUrl();">Sign in with Google</a>
            </div>

          </div>
        </div>
      </div>
      <div crm-ui-wizard-step crm-title="ts('Match Fields')" ng-form="matchForm">
        <table class="display">
          <thead>
            <tr>
              <th>Import Data - Sample Row</th>
              <th>Matching CiviCRM Field</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="column in firstRow">
              <td>
                {{column}}
              </td>
              <td>
                <select
                  ng-model="matching[$index]"
                  crm-ui-select="{dropdownAutoWidth : true, allowClear: true}"
                  required
                  >
                  <option value="no">- do not import -</option>
                  <option ng-repeat="entityField in entityFields.values" value="{{entityField.name}}">{{entityField.title}}</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <a class="button" ng-click="useMapping();">Use Mapping</a>
      </div>
      <div crm-ui-wizard-step crm-title="ts('Preview')" ng-form="prevForm">
        <div class="help">
          <p>The information below previews the results of importing your data in CiviCRM. Review the totals to ensure that they represent your expected results.</p><br>
          <p class="warning">{{validationtext}}</p><br>
          <p>
            <div crm-ui-accordion="{title: ts('Error List'), collapsed: true}" ng-show="isError()">
              <ul>
                <li ng-repeat="error in err.values">{{error}}</li>
              </ul>
            </div>
          </p>
        </div>
      </div>
      <div crm-ui-wizard-step crm-title="ts('Summary')" ng-form="sumForm">

      </div>
    </div>
  </div>
</form>
